<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DojoDrops</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">

      </header>

      <main role="main">
        <div class="jumbotron">
          <h1>Dojodrops</h1>
          <h2>Easy dropbox-based websites for coderdojo's, schools and mad scientists.</h2>
          <p class="lead">
            But it has no homepage yet. Want to contribute?
            <a href="https://github.com/markmeeus/dojodrops">https://github.com/markmeeus/dojodrops</a>
          </p>
        </div>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
